<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Meu Website</h1>
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>